<% extended_metadata_type.extended_metadata_attributes.each do |attribute| %>
  <div id=<%= attribute.title.parameterize %> class="form-group">
    <%= extended_metadata_form_field_for_attribute(attribute,resource, parent_resource) %>
    <% unless attribute.description.nil? %>
      <%= extended_metadata_attribute_description(attribute.description) %>
    <% end %>
  </div>
<% end %>

<script>
    $j(document).ready(function () {
        $j('#resource_identifier_project').hide();
        $j('#resource_contributors_organisational_project_0').hide();
        $j('#resource_contributors_personal_project_0').hide();
        $j('#Design_Project').hide();
        $j('#resource_nutritionaldata_project').hide();

        $j('#project_extended_metadata_attributes_data_Resource_classification_Project_Resource_classification_type_Project').on('change', function () {
            var selectedValues = $j(this).val();
            if (!selectedValues || selectedValues.length === 0) {
                $j('#Design_Project').hide();
            } else if (selectedValues.includes("Study") || selectedValues.includes("Substudy") || selectedValues.includes("Registry") || selectedValues.includes("Secondary data source")) {
                $j('#Design_Project').show();
            } else {
                $j('#Design_Project').hide();
            }
        });

        $j(document).on('change', '[id^="project_extended_metadata_attributes_data_Resource_contributors_Project_"][id$="_Resource_contributors_nameType_Project"]', function () {
            var id = $j(this).attr('id');
            var index = id.match(/Project_(\d+)_Resource_contributors_nameType_Project/)[1];

            var selectedValues = $j(this).val();

            if (!selectedValues || selectedValues.length === 0) {
                $j(`#resource_contributors_organisational_project_${index}`).hide();
                $j(`#resource_contributors_personal_project_${index}`).hide();
            } else if (selectedValues.includes("Personal")) {
                $j(`#resource_contributors_personal_project_${index}`).show();
                $j(`#resource_contributors_organisational_project_${index}`).hide();
            } else {
                $j(`#resource_contributors_organisational_project_${index}`).show();
                $j(`#resource_contributors_personal_project_${index}`).hide();
            }
        });

        var observer = new MutationObserver(function (mutations) {
            mutations.forEach(function (mutation) {
                mutation.addedNodes.forEach(function (node) {
                    if (node.nodeType === 1) {
                        var newPanels = $j(node).find('[id^="project_extended_metadata_attributes_data_Resource_contributors_Project_"]');
                        newPanels.each(function () {
                            var id = $j(this).attr('id');
                            var indexMatch = id.match(/Project_(\d+)_/);
                            if (indexMatch) {
                                var index = indexMatch[1];
                                $j(`#resource_contributors_organisational_project_${index}`).hide();
                                $j(`#resource_contributors_personal_project_${index}`).hide();
                            }
                        });
                    }
                });
            });
        });

        observer.observe(document.body, { childList: true, subtree: true });
    });
</script>

